.backdrop{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: #00000055;
    z-index: 9999;
}

.modal{
    background-color: white;
    display: grid;
    grid-template-rows: 1fr 8fr 1fr;
    padding-inline: 1.5rem;
    padding-block: 1rem;
    gap: 1.5rem;
}

.title{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.x{
    user-select: none;
    cursor: pointer;
}

.sm{
    width: max-content;
}

.md{
    width: 33%;
}

.lg{
    width: 66%;
}